---
export const prerender = true

import { Icon } from 'astro-icon/components'
import Base from '@/components/base.astro'
---

<Base title="Not Found" description="Page Not Found - Sphere Interactive" seo={false}>
  <div class="min-w-screen flex min-h-screen flex-col items-center justify-center bg-primary-950">
    <div class="flex flex-col space-y-2 px-5">
      <span class="text-3xl font-bold text-white md:text-5xl">
        <div class="flex flex-row items-center gap-x-2">
          <Icon class="h-10 w-10 text-secondary-300" name="lucide:x-circle" />
          Not Found
        </div>
      </span>
      <span class="text-md text-white md:text-lg"
        >Sorry, the page you are looking for does not exist or the link you entered is incorrect.</span
      >
      <a
        data-astro-prefetch
        class="max-w-[200px] rounded-lg bg-secondary-500 py-2 text-center font-bold shadow-lg"
        href="/">Home</a
      >
    </div>
  </div>
</Base>
