---
export const prerender = false

import Base from '@/components/base.astro'
import Hero from '@/components/hero.astro'
import Particles from '@/components/particles.astro'
import Footer from '@/components/footer.astro'
import GoUp from '@/components/parts/goup.astro'

import { getJobs } from '@/lib/jobs'

const jobs = await getJobs()
---

<Base>
  <GoUp />
  <Hero />
  <section class="bg-primary-900 px-4 py-32">
    <div class="mx-auto flex max-w-screen-lg flex-col space-y-4">
      <h1 class="text-3xl font-bold sm:text-4xl">
        A place where
        <span
          class="bg-gradient-to-r from-secondary-400 to-primary-100 bg-clip-text text-transparent"
          >creativity</span
        >
        is power
      </h1>
      <p class="text-md sm:text-lg">
        We think that creativity and skill are the key to succeeding, so we're looking for like
        minded people who always put their best creative-self forward. Opportunities at Sphere
        Interactive are always available to those who think like us.
      </p>
      <p class="text-md sm:text-lg">
        With us, you will find the most creative people you can think of. In this way, we can
        deliver the excellent results that are known from us. Get to know our employees and
        developers and find out why they are our greatest asset.
      </p>
    </div>
  </section>
  <!-- First Divider -->
  <div>
    <svg
      class="h-32 w-full"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="fill-primary-900"></path>
    </svg>
  </div>
  <!--  -->
  <Particles>
    <div class="mx-auto flex max-w-screen-lg flex-col space-y-1">
      <h1 class="text-3xl font-bold sm:text-4xl">Ready to join us?</h1>
      <p class="text-md sm:text-lg">
        Are you looking for a job in which you will be challenged and supported and which enables
        you to benefit from the internationality of a globally active Group? Then, you have come to
        the right place!
      </p>
      <p class="text-md py-6 sm:text-lg">
        We're interested in your strengths, what you want to learn, and how far you want to go. Be
        yourself and let's explore how we can make a bigger impact, together, no matter who you are.
      </p>
      <p class="sm:text-md pb-6 text-lg">
        From first steps to the final interview, learn everything there is to know about the hiring
        process and discover the best way to become part of the Sphere Team.
      </p>

      <h2 class="text-2xl font-bold sm:text-3xl">Our offerings</h2>
      <p class="max-sm:text-sm">
        <strong>Students and entry-level</strong>: From student programs and other offerings to
        full-time positions, find a role where you can build an exceptional experience for yourself
        and a better working world for all.
      </p>
      <p class="max-sm:text-sm">
        <strong>Experienced professionals</strong>: Build a career as unique as you are. We'll
        provide the global scale, personal support and technology you need to become the best
        version of you.
      </p>

      {
        jobs.length > 0 ? (
          <div class="flex flex-col space-y-4 py-4">
            {jobs.map((j) => (
              <article class="rounded-md bg-primary-900 px-4 py-4">
                <h1 class="text-lg font-bold sm:text-xl">{j.name}</h1>
                <p class="text-sm">{j.description}</p>
                <div class="py-3" />
                <p class="text-sm">{j.department}</p>
                <p class="text-sm italic">
                  {j.period}, {j.category}
                </p>
              </article>
            ))}
          </div>
        ) : (
          <span class="pt-8 text-2xl font-bold text-red-300 sm:text-xl">
            No positions available at this time, please check back soon!
          </span>
        )
      }

      {
        jobs.length > 0 && (
          <span class="text-sm font-bold">Join our communications server to apply!</span>
        )
      }

      <!-- <div class="flex flex-col space-y-2 py-4">
        <article class="rounded-md bg-primary-900 px-4 py-4">
          <h1 class="text-lg font-bold sm:text-xl">Job Title</h1>
          <p class="text-sm">Job Description</p>
          <div class="py-2"></div>
          <p class="text-sm italic">Full-Time, Entry-Level</p>
        </article>
      </div>
      <span class="text-sm font-bold">Join our communications server to apply!</span> -->
      <!-- <span class="pt-8 text-2xl font-bold text-red-300 sm:text-xl"
        >No positions available at this time, please check back soon!</span
      > -->
      <!-- <span class="text-center text-4xl font-black">WIP</span> -->
    </div>
  </Particles>
  <!-- Second Divider -->
  <div class="rotate-180">
    <svg
      class="h-32 w-full"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="fill-secondary-950"></path>
    </svg>
  </div>

  <section class="bg-secondary-950 px-4 pb-48">
    <div class="mx-auto flex max-w-screen-lg flex-col space-y-1">
      <h1 class="text-center text-3xl font-bold sm:text-4xl">Don't take our word for it!</h1>
      <p class="text-md text-center sm:text-lg">
        See why people are exicted about joining Sphere Interactive
      </p>
      <span class="pt-32 text-center text-4xl font-black">WIP</span>
    </div>
  </section>

  <!-- Third Divider -->
  <div class="bg-secondary-950">
    <svg
      class="h-32 w-full"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="fill-primary-900"></path>
    </svg>
  </div>

  <!-- Footer -->
  <Footer />
</Base>
