---
import '@fontsource-variable/rubik/wght.css'
import '@fontsource-variable/rubik/wght-italic.css'

import SEO from '@/components/parts/seo.astro'

interface Props {
  title?: string
  description?: string
  seo?: boolean
}

const {
  title = 'Sphere Interactive',
  description = 'Creative Interactions Returned',
  seo = true,
} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/avif" href="/favicon.avif" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>

    {seo === true && <SEO title={title} description={description} />}
  </head>
  <body class="scroll-smooth bg-primary-950 text-primary-50">
    <slot />
  </body>
</html>
