---
import { Icon } from 'astro-icon/components'

import Link from '@/components/parts/link.astro'

import { WHATSAPP } from '@/lib/env'

const YEAR = new Date().getFullYear()
---

<footer class="flex w-full flex-col items-center gap-4 bg-primary-900 px-4 py-4">
  <div class="flex flex-col items-center text-center">
    <div class="flex flex-row items-center gap-x-2">
      <Icon class="h-6 w-6" name="ic:baseline-whatsapp" />
      <span class="text-md font-bold italic sm:text-lg">{WHATSAPP}</span>
    </div>
    <span class="text-sm font-bold">Copyright {YEAR} Sphere Interactive</span>
    <span class="text-xs font-bold"
      >Created and maintained by
      <Link class="hover:underline" href="https://sxnic.dev" redirect>Sxnic</Link>
    </span>
  </div>
</footer>
