---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import { getRandomImage } from '@/lib/bg'

import { DISCORD } from '@/lib/env'

import NotByAi from '@/images/notbyai.svg'

import Link from '@/components/parts/link.astro'
import SphereLogo from '@/images/sphere_white.png'

const randomImage = getRandomImage()
---

<header
  class="h-[100svh] w-screen bg-[#000000bf] bg-cover bg-center bg-no-repeat bg-blend-darken"
  style=`background-image: url(${randomImage.src})`
>
  <div class="absolute z-20 flex w-full flex-row items-center justify-between px-8 py-4">
    <Link class="hover:animate-spin" href="/">
      <Image
        class="pointer-events-none text-transparent"
        src={SphereLogo}
        width={35}
        alt="sphere"
        format="avif"
      />
    </Link>
    <div class="flex flex-row items-center gap-x-2">
      <Link
        class="hover:text-primary-50/80"
        href={`https://discord.com/invite/${DISCORD}`}
        redirect
      >
        <Icon class="h-7 w-7" name="ic:baseline-discord" />
      </Link>
    </div>
  </div>
  <div class="absolute z-10 flex h-full w-full flex-col items-center justify-center space-y-2 px-2">
    <h1 class="text-center text-4xl font-black text-secondary-200 sm:text-6xl">
      Sphere Interactive
    </h1>
    <p class="text-md text-center font-semibold sm:text-lg">Creative Interactions Returned</p>
    <Link href="https://notbyai.fyi" redirect>
      <Image
        class="pointer-events-none text-transparent"
        src={NotByAi}
        alt="notbyai"
        format="avif"
      />
    </Link>
  </div>
  <div class="absolute bottom-10 z-20 flex w-full items-end justify-center">
    <button id="down" class="animate-bounce">
      <Icon class="h-7 w-7" name="lucide:chevron-down" />
    </button>
  </div>
</header>

<script>
  const firstSection = document.querySelector('section')!
  const button = document.querySelector<HTMLButtonElement>('button#down')!

  button.onclick = async () => {
    firstSection.scrollIntoView({ behavior: 'smooth' })
  }
</script>
