<section class="px-4 pb-24 pt-12">
  <div id="particles">
    <slot />
  </div>
</section>

<script>
  import { tsParticles } from '@tsparticles/engine'
  import { loadSlim } from '@tsparticles/slim'

  await loadSlim(tsParticles)

  const background = '#020617'
  const color = '#bfdbfe'

  const container = await tsParticles.load({
    id: 'particles',
    options: {
      fullScreen: {
        enable: true,
        zIndex: -1,
      },
      background: { color: background },
      particles: {
        number: {
          value: 60,
        },
        size: {
          value: 4,
        },
        color: {
          value: color,
        },
        links: {
          enable: true,
          color: {
            value: color,
          },
          opacity: 0.3,
        },
        move: {
          enable: true,
          speed: 1,
        },
        opacity: {
          value: {
            min: 0.1,
            max: 0.3,
          },
        },
      },
    },
  })
</script>
