---
import { Icon } from 'astro-icon/components'
---

<div class="fixed bottom-5 right-5 z-30 flex justify-end">
  <button id="up" class="hidden rounded-full bg-secondary-300 p-1.5 text-primary-950">
    <Icon class="h-6 w-6" name="lucide:arrow-up" />
  </button>
</div>

<script>
  const header = document.querySelector('header')!
  const upButton = document.querySelector<HTMLButtonElement>('button#up')!
  const downButton = document.querySelector<HTMLButtonElement>('button#down')!

  upButton.onclick = async () => {
    header.scrollIntoView({ behavior: 'smooth' })
  }

  const io = new IntersectionObserver(
    (entries) => {
      entries.forEach((e) => {
        if (e.isIntersecting) {
          upButton.classList.add('hidden')
          downButton.classList.remove('hidden')
        } else {
          upButton.classList.remove('hidden')
          downButton.classList.add('hidden')
        }
      })
    },
    { threshold: 1, rootMargin: '25px' },
  )

  io.observe(header)
</script>
