---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

const BASE = import.meta.env.VERCEL_URL ?? Astro.url.host
const ORIGIN = 'https://' + BASE
const BANNER = 'banner.avif'
---

<!-- OpenGraph -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en" />
<meta property="og:description" content={description} />
<meta property="og:site_name" content="Sphere Interactive" />
<meta property="og:url" content={ORIGIN} />
<meta name="og:image" content={new URL(`/og/${BANNER}`, ORIGIN)} />
<meta name="og:title" content={title} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="Sphere Interacgive" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(`/og/${BANNER}`, ORIGIN)} />
<meta name="twitter:image:alt" content={title} />

<!-- Discord -->
<meta name="theme-color" content="#93c5fd" />
